* text=auto !eol
/AUTHORS -text
/Doxyfile -text
/INSTALL -text
/LICENSE -text
MSVC_2008/README -text
MSVC_2008/VRPH/VRPH.sln -text
MSVC_2008/VRPH/VRPH.vcproj -text
MSVC_2008/vrp_ej/vrp_ej.vcproj -text
MSVC_2008/vrp_init/vrp_init.vcproj -text
MSVC_2008/vrp_plot/vrp_plot.vcproj -text
MSVC_2008/vrp_rtr/vrp_rtr.vcproj -text
MSVC_2008/vrp_sa/vrp_sa.vcproj -text
MSVC_2010/README -text
MSVC_2010/VRPH/VRPH.sln -text
MSVC_2010/VRPH/VRPH.vcxproj -text
MSVC_2010/VRPH/VRPH.vcxproj.filters -text
MSVC_2010/vrp_ej/vrp_ej.vcxproj -text
MSVC_2010/vrp_init/vrp_init.vcxproj -text
MSVC_2010/vrp_plot/vrp_plot.vcxproj -text
MSVC_2010/vrp_rtr/vrp_rtr.vcxproj -text
MSVC_2010/vrp_sa/vrp_sa.vcxproj -text
/README -text
inc/ClarkeWright.h -text
inc/Concatenate.h -text
inc/CrossExchange.h -text
inc/Flip.h -text
inc/MoveString.h -text
inc/OnePointMove.h -text
inc/OrOpt.h -text
inc/Osman.h -text
inc/Postsert.h -text
inc/Presert.h -text
inc/RNG.h -text
inc/Swap.h -text
inc/SwapEnds.h -text
inc/Sweep.h -text
inc/ThreeOpt.h -text
inc/ThreePointMove.h -text
inc/TwoOpt.h -text
inc/TwoPointMove.h -text
inc/VRP.h -text
inc/VRPConfig.h -text
inc/VRPDebug.h -text
inc/VRPGenerator.h -text
inc/VRPH.h -text
inc/VRPHeuristic.h -text
inc/VRPMove.h -text
inc/VRPNode.h -text
inc/VRPRoute.h -text
inc/VRPSolution.h -text
inc/VRPTabuList.h -text
inc/VRPUtils.h -text
inc/randvals.h -text
/makefile -text
src/ClarkeWright.cpp -text
src/Concatenate.cpp -text
src/CrossExchange.cpp -text
src/Flip.cpp -text
src/MoveString.cpp -text
src/OnePointMove.cpp -text
src/OrOpt.cpp -text
src/Postsert.cpp -text
src/Presert.cpp -text
src/RNG.cpp -text
src/Swap.cpp -text
src/SwapEnds.cpp -text
src/Sweep.cpp -text
src/ThreeOpt.cpp -text
src/ThreePointMove.cpp -text
src/TwoOpt.cpp -text
src/TwoPointMove.cpp -text
src/VRP.cpp -text
src/VRPDebug.cpp -text
src/VRPGenerator.cpp -text
src/VRPGraphics.cpp -text
src/VRPIO.cpp -text
src/VRPMove.cpp -text
src/VRPNode.cpp -text
src/VRPRoute.cpp -text
src/VRPSolution.cpp -text
src/VRPSolvers.cpp -text
src/VRPTSPLib.cpp -text
src/VRPTabuList.cpp -text
src/VRPUtils.cpp -text
src/apps/OSI_GLPK_README -text
src/apps/PLPLOT_README -text
src/apps/SYMPHONY_README -text
src/apps/SYMPHONY_vrp_main.c -text
src/apps/vrp_ej.cpp -text
src/apps/vrp_glpk_sp.cpp -text
src/apps/vrp_initial.cpp -text
src/apps/vrp_plotter.cpp -text
src/apps/vrp_rtr.cpp -text
src/apps/vrp_sa.cpp -text
/test_instance.vrp -text
